body{
  background-color: #E7F0FF;
  color: #00245A;
  margin: 0;
  padding-left: 0;
  font-family:'Oxygen Mono', monospace;
}

a{
  color: #004FD5;
  text-decoration: none;
}

h1{
  font-size: 40px;
  font-weight: bolder;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h3{
  font-size: 19px;
}

header{
  text-align: center;
  padding-top: 45px;
}

.menu-bar {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 20px;
  z-index: 10;
}
.menu-bar ul{
  list-style-type: none;
  font-size: 17px;
  overflow: hidden;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.menu-bar li{
  float: left;
}
.menu-bar li a{
  color: #00245A;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
}
.menu-bar .active{
  background-color: #E7F0FF;
}
.menu-bar li a:hover{
  background-color: #CDE0FF;
  color: #00245A;
}
.sub-menu-1{
  display: none;
  clear: both;
  position: absolute;
}
.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background-color: #FFFFFF;
  margin: 0;
  opacity: 90%;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  position: absolute;
  list-style-type: none;
  font-size: 13px;
  overflow: hidden;
  line-height: 16px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: solid;
  border-color: white;
  border-width: 4px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 200px;
  padding: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  background-color: #CDE0FF;
  color: #00245A;
}


#home p{
  font-size: 19px;
}
#home h2{
  font-size: 23px;
  font-weight: bold;
}
#home{
  text-align: justify;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
}

#aboutweb p{
  font-size: 17px;
}
#aboutweb{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px solid white;
}
#biodata p{
  font-size: 17px;
}
#aboutme{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0px;
}
#selfie img{
  width: 20%;
  float: left;
  padding-left: 25px;
}
#biodata{
  width: 70%;
  float: right;
  margin-top: -10px;
}
#topics{
  clear: both;
  width: 40%;
  margin: auto;
  padding: 10px;
}
#topics p{
  font-size: 12px;
}

#safetyinfo{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#safetyattire{
  width: 70%;
  float: left;
}

#outfit img{
  width: 10%;
  float: left;
}

#outfit{
  margin-top: 35px;
}

#safetypractices{
  clear: both;
}

#cadintro, #intro_3d, #p_intro{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#rastergraphics{
  padding-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}
#picture-a, #picture-a img{
  width: 400px;
  float: left;
  margin-right: 20px;
  text-align: center;
}
#picture-b, #picture-b img{
  width: 450px;
  float: left;
  text-align: center;
}
#alpha-channel{
  clear: both;
  float: left;
  width: 40%;
}
#alpha-channel img{
  clear: both;
  float: left;
  width: 80%;
}
#free-select{
  float: left;
  width: 40%;
  padding-left: 40px;
}
#free-select img{
  width: 10%;
}
#invert{
  float: left;
  width: 40%;
  padding-left: 40px;
}
#invert img{
  width: 80%;
}
#clear{
  clear: both;
  float: left;
  width: 40%;
}
#clear img{
  width: 70%;
}
#transparent-background{
  float: left;
  width: 60%;
}

#transparent-background img{
  width: 100%;
}
#final-raster{
  padding-top: 10px;
  clear: both;
}
#final-raster img{
  width: 1024px;
}

#projects{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#projects table,th,td{
  border: 2px solid #00245A;
  border-collapse: collapse;
}
#projects th,td{
  padding: 15px;
  font-size: 16px;
}
#projects th{
  text-align: left;
  font-size: 18px;
  background-color: #00245A;
  color: #fff;
}
#projects table{
  border-spacing: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#projects caption{
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

#web-intro{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}
#web-template img{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
#web-process{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}
[alt="about.html Content"]{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
[alt="CSS for About page (1)"] {
  width: 30%;
  float: left;
  margin-left: 20%;
}
[alt="CSS for About page (2)"] {
  width: 30%;
  float: left;
  margin-right: 20%;
}
#web-nav{
  clear: both;
  padding-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}
[alt="Navigation Bar HTML"] {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
[alt="Basic Navigation Bar CSS"] {
  width: 20%;
  margin-left: 25%;
  float: left;
}
[alt="DropDown Navigation Bar CSS"] {
  width: 30%;
  margin-right: 25%;
  float: left;
}
#GitHub{
  padding-top: 20px;
  clear: both;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}
[alt="Create Repository"], [alt="Publish Repository"]{
  width: 20%;
}
[alt="Commit to Main"], [alt="GitHub pages"]{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
#web-extra{
  clear: both;
  padding-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}
[alt="Timeline HTMl"]{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
[alt="Timeline CSS (1)"],[alt="Timeline CSS (2)"]{
  width: 20%;
  float: left;
}
[alt="Timeline CSS (3)"]{
  width: 25%;
  float: left;
}
[alt="Timeline CSS (4)"]{
  width: 35%;
  float: left;
}
#vectorgraphics, #sketching-2d, #modelling-3d, #nametag-3d, #lego-3d, #cubes-3d, #mug-3d, #nut-3d, #chess-3d, #cutting-intro, #laptop-laser{
  clear: both;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  padding-top: 20px;
  text-align: justify;
}
[alt="Dog Picture"], [alt="Bezier lines"], [alt="Path example"]{
  width: 30%;
}
[alt="Bezier tool"],[alt="Edit path tool"]{
  height: 25px;
}
[alt="Dog vector image"]{
  width: 30%;
  float: left;
  margin-left: 10%;
}
[alt="Greyscale dog vector image"]{
  float: left;
  width: 30%;
  margin-left: 10%;
}
[alt="Sketch Exercise 1"],[alt="Single Cube"]{
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
[alt="Sketch Exercise 2"]{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
[alt="Name Tag"],[alt="Name Tag step 1"],[alt="Name Tag step 2"],[alt="Name Tag step 3"]{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
[alt="Lego Brick"],[alt="Cubes"],[alt="Hex Nut step 1"],[alt="Laptop 1"],[alt="Music Box Side 1"],[alt="Music Box Side 2"],[alt="Music Box Bottom"],[alt="Music Box Top"],[alt="Music Box Top Cut"],[alt="Music Box View 1"],[alt="Chess Piece Printed 1"]{
  float: left;
  width: 30%;
  margin-left: 20%;
}
[alt="Lego Brick Bottom"],[alt="Cubes Bottom"],[alt="Hex Nut step 2"],[alt="Laptop 2"],[alt="Music Box Side 1 3D"],[alt="Music Box Side 2 3D"],[alt="Music Box Bottom Cut"],[alt="Music Box Top 3D"],[alt="Music Box Front"],[alt="Music Box View 2"],[alt="Chess Piece Printed 2"]{
  float: left;
  width: 30%;
}
#mug-1{
  clear: both;
  float: left;
  width: 30%;
}
#mug-2{
  float: left;
  width: 50%;
  margin-left: 10%;
}
[alt="Mug step 1"],[alt="Mug step 2"]{
  width: 70%;
}
[alt="Hex nut step 3"],[alt="Chess Piece Canvas"],[alt="Music Box Sides"],[alt="Music Box"],[alt="Music Box Design"],[alt="Chess Piece Print Cura"]{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
#musicbox-laser, #laser-cut, #print-3d, #circuit-555, #uno-segment, #uno-many-states{
  clear: both;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  padding-top: 20px;
  text-align: justify;
}
[alt="Music Box Sketch"],[alt="Music Box Parameter"],[alt="Music Box DXF"],[alt="555 Timer Schematic"],[alt="Countdown Timer"],[alt="LED 1 Circuit"],[alt="LED 2 Circuit"],[alt="LED 3 Circuit"],[alt="Rough Sketch"],[alt="Circuit Schematic"],[alt="Circuit Schematic 2"],[alt="Produced Pieces"],[alt="Setup View 1"],[alt="Setup View 2"]{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
#music1{
  float: left;
  width: 35%;
  margin-left: 14%;
  text-align: left;
}
#music2{
  float: left;
  width: 35%;
  margin-left: 2%;
  margin-right: 14%;
  text-align: left;
}
[alt="Music Box Cutting"],[alt="Music Box Cutout"]{
  width: 100%;
}
[alt="LED 1"],[alt="LED 2"],[alt="LED 3-1"],[alt="LED 3-2"],[alt="LED 4-1"],[alt="LED 4-2"]{
  width: 30%;
  margin-left: 0;
}
#list-pj, #intro-pj, #ideation-pj, #modelling-pj, #print-pj, #circuit-pj, #code-pj, #assembly-pj, #finished-pj, #review-pj, #showcase-pj{
  clear: both;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  padding-top: 20px;
  text-align: justify;
}
[alt="Printed Pegs"]{
  width: 50%;
  float: left;
  margin-left: 10%;
}
[alt="Printed Hinge"]{
  width: 30%;
  float: left;
  margin-right: 10%;
}
[alt="Solder Power"],[alt="Solder Nano"],[alt="Glued Sensor Internal"],[alt="Clear Tube Slit"]{
  float: left;
  width: 35%;
  margin-left: 15%;
}
[alt="Solder Sensors"],[alt="Solder All"],[alt="Glued Sensor External"],[alt="Clear Tube Snip"]{
  width: 35%;
  float: left;
}
[alt="Glued Hinge"],[alt="Glued Housing"],[alt="Clear Tube"]{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
[alt="Internal Circuitry"]{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
[alt="Project View 1"],[alt="Project View 2"],[alt="Project View 3"],[alt="Project View 4"],[alt="Project View 5"],[alt="Project View 6"],[alt="Project View 7"],[alt="Project View 8"]{
  float: left;
  width: 50%;
}
[alt="Code Libraries"],[alt="Code Variables"],[alt="Code Setup"],[alt="Code Input"],[alt="Code Pump"],[alt="Code LCD"]{
  width: 600px;
}
#table-2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#table-2 table,th,td{
  border: 2px solid #00245A;
  border-collapse: collapse;
}
#table-2 th,td{
  padding: 15px;
  font-size: 16px;
}
#table-2 th{
  text-align: left;
  font-size: 18px;
  background-color: #00245A;
  color: #fff;
}
#table-2 table{
  border-spacing: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#table-2 caption{
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
[alt="Presentation Slide"],[alt="Ownership Card"]{
  width: 100%;
}

footer{
  clear: both;
  background-color: #FFFFFF;
  color: #00245A;
  line-height: 30px;
  text-align: right;
  padding-right: 20px;
  font-size: 12px;
  font-weight: bold;
}
